.header{
    background-color: rgb(160, 158, 158);
    text-align: center;
    width: 1400px;
    height: 80px;
    margin-left: 60px;
}
.left-bar{
    text-align: center;
    background-color: aqua;
    width: 500px;
    height: 70px;
    margin-left: 60px;
    padding: 5px;
    float: left;
}
.center-bar{
    margin-top: 0;
    font-size: small;
    background-color: rgb(46, 197, 197);
    position: absolute;
    left: 580px;
    width: 300px;
    height: 80px;
    margin-left: 0;
    text-align: center;
}
.right-bar{
    position: absolute;
    left: 881px;
    background-color: rgb(10, 233, 233);
    width: 587px;
    height: 80px;
    text-align: center;
}
.footer{
    position: absolute;
    top: 280px;
    left: 630px;
    text-align: center;
}
    